Library/
Logs/
obj/
Assembly-CSharp.csproj
RuntimeUnitTestToolkit.csproj
Unity.VContainer.CodeGen.csproj
VContainer.csproj
VContainer.Editor.csproj
VContainer.EnableCodeGen.csproj
VContainer.sln
VContainer.Tests.csproj
.vs/
VContainer.apk
VContainerPractice.sln
Temp/
Resolving.csproj
ResolvingAssembly.csproj
